<!DOCTYPE html>
<html lang="en">
  <%- include('partials/header.ejs') %> 
<body>
  <%- include('partials/navbar.ejs') %>
  <div class="container-detail padding-default">
    <div class="title-detail">
      <h1><%= title %></h1>
    </div>
    <hr>
    <div class="content-detail">
      <p><%= content %></p>
    </div>
  </div>
  <%- include('partials/footer.ejs') %>
</body>
</html>
